{%  extends "base.html" %}

{% block title %}OW Licenses{% endblock %}
{% block content %}
    <div class="container">
    <div class="page-header">
        {{ wtf.quick_form(form) }}
        <ul>
            <h1>List all licenses</h1>
                <table class="table table-striped">
                <thead class="thead-inverse">
                    <tr>
                    <th>Id</th>
                    <th>Software</th>
                    <th>Key</th>
                    <th>Folder</th>
                    <th>Version</th>
                    <th>Start date</th>
                    <th>Expiration date</th>
                    <th>Owner</th>
                    <th>Comment</th>
                    </tr>
                </thead>
                <tbody>
                {% if search_results %}
                  {% for row in search_results %}
                    <tr>
                    <th scope="row">{{ row.key_id }}</th>
                    <td>{{ row.software_name }}</td>
                    <td>{{ row.key }}</td>
                    <td>{{ row.folder }}</td>
                    <td>{{ row.version }}</td>
                    <td>{{ row.start_date }}</td>
                    <td>{{ row.end_date }}</td>
                    <td>{{ row.user }}</td>
                    <td>{{ row.comment }}</td>
                    </tr>
                  {% endfor %}
                {% else %}
                {% endif %}
                </tbody>
                </table>
        </ul>
    </div>
    </div>
{% endblock %}
