{%  extends "base.html" %}
{% block title %}OW Licenses{% endblock %}
{% block content %}
    <div class="container">
    <div class="page-header">
      <div>
        {{ wtf.quick_form(form) }}
      </div>
      </div>
      <div class="span6 pull-right">
      <a href="{{ url_for('add') }}"><button type="button" class="btn btn-primary btn-lg">Add license</button></a>  
      </div>
      </div>
      
            <table class="table table-sm table-hover" width="90%" style="table-layout:fixed">
            <col span="1" width="10%">
            <col span="1" width="20%">
            <col span="1" width="15%">
                <thead class="thead-inverse">
                    <tr>
                    <th>Software</th>
                    <th>Key</th>
                    <th>Folder</th>
                    <th>Version</th>
                    <th>Start date</th>
                    <th>Expiration date</th>
                    <th>Owner</th>
                    <th>Comment</th>
                    </tr>
                </thead>
                <tbody>
                  {% if search_results %}
                   {% for row in search_results %}
                    <tr>
                    <th scope="row">{{ row.software_name }}</th>
                    <td style="word-wrap:break-word">{{ row.key }}</td>
                    <td style="word-wrap:break-word">{{ row.folder }}</td>
                    <td>{{ row.version }}</td>
                    <td>{% if row.start_date %}
                    {{ row.start_date.strftime("%d.%m.%Y") }}
                    {% endif %}</td>
                    <td>{% if row.end_date %}
                    {{ row.end_date.strftime("%d.%m.%Y") }}
                    {% endif %}</td>
                    <td>{{ row.user }}</td>
                    <td style="word-wrap:break-word">{{ row.comment }}</td>
                    <td width="10px"><a href="{{ url_for('delete_license', id=row.key_id, approve=0) }}"><button type="button" class="btn btn-danger">Delete</button></a></td>
                    <td><a href="{{ url_for('change_license', id=row.key_id) }}"><button type="button" class="btn btn-primary">Edit</button></a></td>
                    </tr>
                  {% endfor %}
                 {% endif %}
                </tbody>
                </table>
{% endblock %}
