{%  extends "base.html" %}
{% block title %}OW Licenses{% endblock %}
{% block content %}
    <div class="container">
    <div class="page-header">
      <div>
        {{ wtf.quick_form(form) }}
      </div>
        <ul>
            <h1>Licenses list:</h1>
                <table class="table table-striped">
                <thead class="thead-inverse">
                    <tr>
                    <th>Software</th>
                    <th>Key</th>
                    <th>Folder</th>
                    <th>Version</th>
                    <th>Start date</th>
                    <th>Expiration date</th>
                    <th>Owner</th>
                    <th>Comment</th>
                    </tr>
                </thead>
                <tbody>
                  {% if search_results %}
                   {% for row in search_results %}
                    <tr>
                    <th scope="row">{{ row.software_name }}</th>
                    <td>{{ row.key }}</td>
                    <td>{{ row.folder }}</td>
                    <td>{{ row.version }}</td>
                    <td>{% if row.start_date %}
                    {{ row.start_date.strftime("%d.%m.%Y") }}
                    {% endif %}</td>
                    <td>{% if row.end_date.strftime %}
                    {{ row.end_date.strftime("%d.%m.%Y") }}
                    {% endif %}</td>
                    <td>{{ row.user }}</td>
                    <td>{{ row.comment }}</td>
                    <td><a href="{{ url_for('delete_license', id=row.key_id) }}">Delete</a></td>
                    <td><a href="{{ url_for('change_license', id=row.key_id) }}">Edit</a></td>
                    </tr>
                  {% endfor %}
                 {% endif %}
                </tbody>
                </table>
        </ul>
    </div>
    </div>
{% endblock %}
