    <div class="container">
    <div class="page-header">
        <ul>
            <h1>List license:</h1>
                <table class="table table-striped">
                <thead class="thead-inverse">
                    <tr>
                    <th>Id</th>
                    <th>Software</th>
                    <th>Key</th>
                    <th>Folder</th>
                    <th>Version</th>
                    <th>Start date</th>
                    <th>Expiration date</th>
                    <th>Owner</th>
                    <th>Comment</th>
                    </tr>
                </thead>
                <tbody>
                {% if search_results %}
                  {% for row in search_results %}
                    <tr>
                    <th scope="row">{{ row.key_id }}</th>
                    <td>{{ row.software_name }}</td>
                    <td>{{ row.key }}</td>
                    <td>{{ row.folder }}</td>
                    <td>{{ row.version }}</td>
                    <td>{% if row.start_date %}
                    {{ row.start_date.strftime("%d.%m.%Y") }}
                    {% endif %}</td>
                    <td>{% if row.end_date.strftime %}
                    {{ row.end_date.strftime("%d.%m.%Y") }}
                    {% endif %}</td>
                    <td>{{ row.user }}</td>
                    <td>{{ row.comment }}</td>
                    </tr>
                  {% endfor %}
                {% else %}
                {% endif %}
                </tbody>
                </table>
        </ul>
    </div>
    </div>